<%- include(`./incl/head.html`) %>
    <%- include(`./incl/navbar.html`) %>
    <div class="row mb-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header p-2">Motive</div>
                <div class="card-text p-4">
                    <p class="mb-3">
                        This mining pool's server is based in Helsinki, Finland to try and reduce latency
                        for as many people as possible - the goal of the pool is to help
                        decentralize the Monero network. On this page, I will outline some concerns
                        I have regarding the Monero network and possible long-term solutions to these
                        problems.
                    </p>
                    <p class="mb-3">
                        The <u>top 3 Monero pools</u> currently mine just under <u>70% of all blocks</u>
                        on average (stats recorded 15th Dec 2021 from miningpoolstats.stream) - this
                        needs to change if Monero has a future as the next big privacy solution.
                    </p>
                    <h3 class="mt-4">The big problem</h3>
                    <p class="mb-3">
                        This <a href="https://www.reddit.com/r/MoneroMining/comments/g6uh2l/if_you_are_mining_on_minexmrcom_or_supportxmrcom/">reddit article</a>
                        is a good starting point when it comes to outlining issues with the state of the
                        chain, and even though the post is nearly 2 years old, the problems outlined
                        there are still a big issue today. In conclusion, mining on a smaller pool will
                        not harm your profits in the long-term. Yes, you will get small frequent payouts
                        on larger pools but on smaller pools, you'll get larger, less frequent payouts.
                        On this front, the long-term reward for mining on either pool is just about
                        the same.
                    </p>
                    <p class="mb-3">
                        Above all, the pool situation on the Monero blockchain isn't getting any better.
                        XMR's supposed to be <b>the</b> chain of privacy and be a role-model for other
                        chains.
                    </p>
                    <h3 class="mt-4">How can you help?</h3>
                    <p class="mb-3">
                        You can help by mining on smaller pools. Okay - they may not find a block for a
                        few days/weeks, but when they do, you'll get your fair reward and you'll know
                        deep inside that you helped contribute towards decentralizing the Monero network,
                        not just mining for a 100 MH/s pool and calling it a day. <u>Move your miners
                        to smaller pools!</u>
                    </p>
                    <p class="mb-2">
                        Join us on Discord - we have a friendly community, a hashrate-tracking bot and an
                        automatic role system based on your hashrate!
                    </p>
                    <p class="mb-0">
                        <a href="https://discord.gg/MhTM8CYZX3" target="_blank">https://discord.gg/MhTM8CYZX3</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
<%- include(`./incl/footer.html`) %>