            <footer class="mt-2 text-center p-3">
                <p>
                    Made with ❤️ by Shay<br>
                    <a target="_blank" href="https://localmonero.co/blocks/search/83iyvgajvmCSMLeZsEpQUbP3LwxU1zxsGVaTJ2G8n7CBVHQvsHeEYzDKzjXrYjc2HfA6FxLS6Rx2aYZ6WiEzpAHvNHBgGst">
                        <code>83iyvgajvmCSMLeZsEpQUbP3LwxU1zxsGVaTJ2G8n7CBVHQvsHeEYzDKzjXrYjc2HfA6FxLS6Rx2aYZ6WiEzpAHvNHBgGst</code>
                    </a>
                </p>
            </footer>
        </div>
    </body>
</html>