<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mr-4" href="/">
        <img src="../media/pool_logo.png" class="mr-2" height="30vw">
        xmr.shay.services
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-3">
                <a class="nav-link" href="/" id="/">Home</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="/motive" id="/motive">Motive</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="/24h" id="/24h">24h Chart</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="https://www.getmonero.org/resources/user-guides/mine-to-pool.html" target="_blank">Getting started</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="https://discord.gg/MhTM8CYZX3" target="_blank">Discord</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    try {
        document.getElementById(window.location.pathname).classList.add(`active`);
    } catch(err) {}
</script>